.container {
    max-width: 450px;
    margin: auto;
    background-color: white;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    background: white;
    display: flex;
    flex-direction: column;
}
