* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  height: -webkit-fill-available;
}

body
 {
  background-color: white;
  position: relative;
  min-height: -webkit-fill-available;
}

.root {
  position: relative;
  max-width: 400px;
  /* background-color: red; */
  margin: auto;
}
