.RoomButtonGroup {
  flex: 1 1 auto;
  font-size: 1.6rem;
  padding: 5%;
  position: relative;
  overflow: scroll;
  box-sizing: border-box;
}



.RoomButtonGroup::-webkit-scrollbar { width: 0 !important }